.inline-image-left{
    margin-right: 15px;
    margin-bottom: 10px; 
}
.inline-image-right{
    margin-left: 15px;
    margin-bottom: 10px; 
}
html, body {
    margin: 0;
    height: 100%;
    background-color: white;
}
h1, p {
    margin: 0;
    padding: 0;
}
#lang-select{
    position: absolute;
    top: 5px;
    right: 5px;
}
.full-screen {
    overflow-y: hidden;
    height: 100vh; 
}

.highlighted_word{
    color: black;
}
.paragraph-cut{
    margin-bottom: 30px;
}

.section-bar{
    width: 0px;
    height: 2px;
    background-color: #999;
}
#map{
    width: 100%;
    height: 100%;
}
#video {
    background-color: transparent;
    background-position: top left;
    width: 100%; 
    height: 100vh;
    background-image: url('img/DSC00562_optimized.jpg');
    background-size: cover;
    overflow: hidden;
}
#titlecontent{
    opacity: 1.0;
    z-index: -100;
    color: white;
    font-weight: bold;
    font-size: 3em;
    padding-top:25vh;
    line-height: 1em;
    text-shadow: 2px 2px #000;
}
#lang_buttons{
    opacity: 1.0;
    padding-top: 5vh;
}
#introSection{
    background-color: black;
    text-align: center;
    background-image: none;    
}
.section_body{
    padding-top: 20px;
    font-size: 1.5em;
    font-family: 'Encode Sans', sans-serif;
    color: #9E9E9E;
}

.gallery-picture{
    display: inline-block;
    margin: 2px;
    border: 1px solid #eee;
    width: 98px;
    height: 98px;  
    background-size: cover;    
}

.gallery{
    margin-top: 1.5em;
}  
.footer.segment {
    padding: 5em 0em;
 }
.background_text{
    padding-top: 1em;
    font-size: 1.5em;
    font-family: 'Encode Sans', sans-serif;
    color: #9E9E9E;
}

.sectionheader{
    width: 100%;    
    font-weight: 100 !important;
    font-family: 'Encode Sans', sans-serif !important;
    font-size: 3em !important;
    padding-top: 20px;
    padding-bottom: 10px;
}
.highlighted_word{
   cursor: pointer;
}

